.loader-wrapper {
    position: fixed;
    inset: 0;
    background-color: #E9EDE9;
    /* Warm Gray */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}



.curved-spinner {
    width: 60px;
    height: 60px;
    border: 4px solid transparent;
    border-top: 4px solid #1DB954;
    /* Spotify Green */
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-wrapper p {
    font-size: 16px;
    font-weight: 500;
    color: #264653;
    /* Charcoal */
}